.shadow{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.shadow:active{
    margin-top: 3px;
        margin-left: 3px;
        box-shadow: none;
}