.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
}

.col1{
background-color: lightblue;
}

.col2{
background-color: lightpink;
}

.col3{
background-color: lightblue;
}

.col4{
background-color: lightpink;
}