.new-tag{
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    margin-bottom: 5px;

}

.product-name{
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.marketing{
    margin-top: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2px;
}
.price-tag {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

.buy-button{
    font-size: 10px;
    font-weight: bold;
    margin-left: 170px;
    background-color: rgb(108, 108, 255);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}