.cat-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 8px;

}

.message{
    vertical-align: middle;
    display: inline-block;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.tweet{
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(31, 129, 234);
    border-radius: 20px;
    color: white;
    border: none;
    margin-left: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}