.strech{
    background-color: green;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s;
    cursor: pointer;
}

.strech:hover{
    padding-top: 40px ;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 40px;
}