.price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 2px;
}

.value{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.points{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 3px;
    margin-top: 0px;
}

.hours{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 2px;
    margin-top: 0px;
}

.yesterday-close{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}